<p>Templates define the behavior of families of classes or functions. Often it is required that special types or non-types may be treated special. To support this use case, you can specialize templates.</p>
<hr id="system-readmore" />
<p>&nbsp;<img src="https://www.modernescpp.com/images/blog/Templates/TemplateSpecialization/TemplateSpecialization.png" alt="TemplateSpecialization" width="650" height="409" style="display: block; margin-left: auto; margin-right: auto;" /></p>
<p>Let me start this post with the general idea of template specialization. In the next post, I concentrate on the details.</p>
<h2>Template Specialization</h2>
<p>Templates define the behavior of families of classes and functions. Often it is required that special types or non-types must be treated special. Therefore, you can fully specialize templates.</p>
<p>Class templates can also be partially specialized. The general or primary template can coexist with partially or fully specialized templates. The member functions and attributes of a specialization don’t have to be identical with those of the primary template. The compiler prefers fully specialized to partially specialized templates, and partially specialized templates to primary templates.</p>
<p>The following example should clarify my words.</p>
<div style="background: #f0f3f3; overflow: auto; width: auto; gray;border-width: .1em .1em .1em .8em;">
<pre style="margin: 0; line-height: 125%;"><span style="color: #006699; font-weight: bold;">template</span> <span style="color: #555555;">&lt;</span><span style="color: #006699; font-weight: bold;">typename</span> T, <span style="color: #007788; font-weight: bold;">int</span> Line, <span style="color: #007788; font-weight: bold;">int</span> Column<span style="color: #555555;">&gt;</span>     <span style="color: #0099ff; font-style: italic;">// (1)</span>
<span style="color: #006699; font-weight: bold;">class</span> <span style="color: #00aa88; font-weight: bold;">Matrix</span>;

<span style="color: #006699; font-weight: bold;">template</span> <span style="color: #555555;">&lt;</span><span style="color: #006699; font-weight: bold;">typename</span> T<span style="color: #555555;">&gt;</span>                           <span style="color: #0099ff; font-style: italic;">// (2)</span>
<span style="color: #006699; font-weight: bold;">class</span> <span style="color: #00aa88; font-weight: bold;">Matrix</span><span style="color: #555555;">&lt;</span>T, <span style="color: #ff6600;">3</span>, <span style="color: #ff6600;">3</span><span style="color: #555555;">&gt;</span>{};

<span style="color: #006699; font-weight: bold;">template</span> <span style="color: #555555;">&lt;&gt;</span>                                     <span style="color: #0099ff; font-style: italic;">// (3)</span>
<span style="color: #006699; font-weight: bold;">class</span> <span style="color: #00aa88; font-weight: bold;">Matrix</span><span style="color: #555555;">&lt;</span><span style="color: #007788; font-weight: bold;">int</span>, <span style="color: #ff6600;">3</span>, <span style="color: #ff6600;">3</span><span style="color: #555555;">&gt;</span>{};
</pre>
</div>
<p>&nbsp;</p>
<ul>
<li>Primary Template</li>
</ul>
<p>Line 1 is the primary or general template. The primary template has to be declared before the partially or fully specialized templates. If the primary template is not needed, a declaration such as in line 1 is fine.</p>
<ul>
<li>Partial Specialization</li>
</ul>
<p>Line 2 follows with the partial specialization. Only class templates support partial specialization. A partial specialization has template parameters and explicitly specified template arguments. In the concrete case<code>, class Matrix&lt;T, 3, 3&gt; T</code> is the template parameter and the numbers are the template arguments.</p>
<ul>
<li>Full Specialization</li>
</ul>
<p>&nbsp;Line 3 is the full specialization. Full means that all template arguments are specified and the template parameter list is empty:<code> template &lt;&gt;</code> in line 3.</p>
<h3>Partial versus Full Specialization</h3>
<p>To better understand partial and full specialization, I want to present a visual explanation. You may know, I studied mathematic and I had many linear systems of equations to solve.</p>
<p>Think about an n-dimensional space of template parameters. A partial specialization is a subspace in the n-dimensional space, and a full specialization is a point in the n-dimensional space.</p>
<p>Now, I apply my visual explanation to the class template <code>Matrix</code> and its partial and full specialization. In the primary template (line 1) you can choose a type as a template parameter, and two int values as non-type template parameter. In the case of the partial specialization in line 2, you can only choose the type. This means the 3-dimensional space is reduced to a line. The partial specialization of the primary template<code> Matrix</code> is, therefore, a subspace of the 3-dimensional space. The full specialization (line 3) stands for a point in the 3-dimensional space.&nbsp;</p>
<p>What is happening when you invoke the templates?</p>
<h3>Using the Primary, Partial, and Full Specialization</h3>
<p>To remind you, the following specializations of the class <code>Matrix</code> are given.</p>
<div style="background: #f0f3f3; overflow: auto; width: auto; gray;border-width: .1em .1em .1em .8em;">
<pre style="margin: 0; line-height: 125%;"><span style="color: #006699; font-weight: bold;">template</span> <span style="color: #555555;">&lt;</span><span style="color: #006699; font-weight: bold;">typename</span> T, <span style="color: #007788; font-weight: bold;">int</span> Line, <span style="color: #007788; font-weight: bold;">int</span> Column<span style="color: #555555;">&gt;</span>     <span style="color: #0099ff; font-style: italic;">// (1)</span>
<span style="color: #006699; font-weight: bold;">class</span> <span style="color: #00aa88; font-weight: bold;">Matrix</span>;

<span style="color: #006699; font-weight: bold;">template</span> <span style="color: #555555;">&lt;</span><span style="color: #006699; font-weight: bold;">typename</span> T<span style="color: #555555;">&gt;</span>                           <span style="color: #0099ff; font-style: italic;">// (2)</span>
<span style="color: #006699; font-weight: bold;">class</span> <span style="color: #00aa88; font-weight: bold;">Matrix</span><span style="color: #555555;">&lt;</span>T, <span style="color: #ff6600;">3</span>, <span style="color: #ff6600;">3</span><span style="color: #555555;">&gt;</span>{};

<span style="color: #006699; font-weight: bold;">template</span> <span style="color: #555555;">&lt;&gt;</span>                                     <span style="color: #0099ff; font-style: italic;">// (3)</span>
<span style="color: #006699; font-weight: bold;">class</span> <span style="color: #00aa88; font-weight: bold;">Matrix</span><span style="color: #555555;">&lt;</span><span style="color: #007788; font-weight: bold;">int</span>, <span style="color: #ff6600;">3</span>, <span style="color: #ff6600;">3</span><span style="color: #555555;">&gt;</span>{};
</pre>
</div>
<p>&nbsp;</p>
<p>The question is: What happens when you instantiate <code>Matrix</code> for various template arguments? Here are three instantiations, and you see what the compiler creates.</p>
<p>&nbsp;</p>
<div style="background: #f0f3f3; overflow: auto; width: auto; gray;border-width: .1em .1em .1em .8em;">
<pre style="margin: 0; line-height: 125%;">Matrix<span style="color: #555555;">&lt;</span><span style="color: #007788; font-weight: bold;">int</span>, <span style="color: #ff6600;">3</span>, <span style="color: #ff6600;">3</span><span style="color: #555555;">&gt;</span> m1;          <span style="color: #0099ff; font-style: italic;">// class Matrix&lt;int, 3, 3&gt;</span>

Matrix<span style="color: #555555;">&lt;</span><span style="color: #007788; font-weight: bold;">double</span>, <span style="color: #ff6600;">3</span>, <span style="color: #ff6600;">3</span><span style="color: #555555;">&gt;</span> m2;       <span style="color: #0099ff; font-style: italic;">// class Matrix&lt;T, 3, 3&gt; </span>

Matrix<span style="color: #555555;">&lt;</span>std<span style="color: #555555;">::</span>string, <span style="color: #ff6600;">4</span>, <span style="color: #ff6600;">3</span><span style="color: #555555;">&gt;</span> m3;  <span style="color: #0099ff; font-style: italic;">// class Matrix&lt;T, Line, Column&gt; =&gt; ERROR</span>
</pre>
</div>
<p>&nbsp;</p>
<p><span style="font-family: courier new, courier;">m1</span> uses the full specialization, <span style="font-family: courier new, courier;">m2</span> uses the partial specialization, and <span style="font-family: courier new, courier;">m3</span> the primary template which causes an error because the definition is missing.</p>
<p>To understand this process, you have to keep a few rules in mind. Here are the rules that apply, in particular, to the partial specialization of class templates.</p>
<h4>Dependencies between the Template Parameter and the Template Arguments</h4>
<ul>
<li>The number and sequence of the explicitly specified template arguments (<code>&lt;T, 3, 3&gt;</code>) must match the number and sequence of the template parameter list (<code>&lt;typename T, int Line, int Column&gt;</code>) of the primary template.</li>
<li>If you use defaults for template parameters, you don't have to provide the template arguments. Only the primary template accepts defaults for template parameters.</li>
</ul>
<h4>Valid Partial Specializations</h4>
<ul>
<li>The compiler chooses a partial specialization if the template instantiation arguments <code>(Matrix&lt;double, 3, 3&gt;</code>) are a subset of the template arguments of the partial specialization (<code>Matrix&lt;T, 3, 3&gt;</code>).</li>
</ul>
<h4>Chosen Template Specialization</h4>
<ol>
<li>The compiler finds only one specialization. The compiler uses this specialization.</li>
<li>The compiler finds more than one specialization. The compiler uses the most specialized one. If this process ends in more than one specialization, the compiler throws an error.</li>
<li>The compiler finds no specialization. It uses the primary specialization.</li>
</ol>
<p>Okay, there is one question left I have to answer. What does it mean that a template<code> A</code> is a more specialized template than another template<code> B</code>. This is my informal definition. <em><br /></em></p>
<p><strong>A template A is more specialized than a template B:</strong></p>
<ul>
<li>The template B can accept all arguments that template A can accept.</li>
<li>The template B can accept arguments that template A cannot accept.</li>
</ul>
<p>If you want to have it more formal, visit <a href="https://en.cppreference.com/w/cpp/language/partial_specialization">cppreference.com/partial_specialization</a> and go to the subsection about partial ordering.</p>
<h2>What's next?</h2>
<p>This post should provide you the basics about template specialization but as always there are more details to it in C++. For example, partial or full specialization behaves like a compile-time if and full specialization of class or function templates are quite similar to ordinary classes or functions.</p>
<p>{loadmoduleid 153}</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>